@media (max-width: 1165px) {
  .header {
    .nav {
      ul {padding-left:10px;
        li {
          a {padding:56px 10px;}
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #welcome, #associations {width:100%; height:auto !important; text-align:center;
    .wrapper {width:100%; max-width:100%;}
  }
  .footer {
    #footer_widgets {
      & > div {width:48%;}
    }
  }
}

@media (max-width: 980px) {
  .header {
    .logo {
      a {width:200px; padding:10px;}
    }
    .nav {font-size:.8em;
      ul {
        li {
          a {padding:36px 10px;}
          &:hover {
            ul {top:94px;}
          }
        }
      }
    }
  }
}

@media (max-width: 840px) {
  .header {text-align:center;
    .logo {width:100%;
      a {float:none; display:inline-block;}
    }
    .nav {width:100%;
      ul {
        li {float:none; display:inline-block;
          a {}
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .page_title {
    img {width:150%; margin-left:-25%;}
    h1 {font-size:50px;}
  }
}

@media (max-width: 760px) {
  .sidebar-logo {display:none;}
  .sidebar, .main_content {width:100%; height:auto !important;}
  .sidebar {
    .wrapper {max-width:100%;}
    .widget_nav_menu {
      ul {text-align:center;}
    }
  }
  .footer {
    #footer_widgets {text-align:center;
      & > div {width:100%; display:inline-block; float:none; text-align:center; margin-bottom:25px;
        &:last-of-type {float:none;}
      }
    }
  }
} 

@media (min-width: 621px) {
  .mobile_nav {display:none;}
}

@media (max-width: 620px) {
  .header {
    .nav {height:0; transition:height .4s; -o-transition:height .4s; -ms-transition: height .4s; -moz-transition: height .4s; -webkit-transition: height .4s; overflow:hidden;
      ul {display:inline-block; width:100%;
        li {display:inline-block; background:#FFF; width:100%; text-align:left; border-bottom:1px solid #e3e3e3;
          a {padding:5px 10px; width:100%;
            &:focus {outline:none;}
            &:hover {background-color:#ececec; color:$main-color;}
          }
          ul {position:relative; opacity:1; visibility:visible;  top:auto; left:auto; width:100%;
            li {border-width:0 0 1px 0; width:100%;
              a {padding-left:25px;}
              &:first-child {border-top:1px solid #e3e3e3;}
              &:last-child {border:none;}
            }
          }
          &:hover {
            ul {top:0;}
            a {color:$main-color;}
          }
        }
      }
      &.open {display:block; height:507px;;}
    }
    .mobile_nav {position:absolute; color:#FFF; top:30px; right:30px; font-size:24px;}
  }
  .page_title {
    h1 {font-size:30px;}
  }
  #home_slider {
    p.tp-caption {font-size:25px !important; line-height:1.2 !important;}
    .tp-caption {
      &.rev-btn {display:none !important;}
    }
  }
}